<html>
    <head>
        <title>경북대학교 17기 KDT</title>
        <style>
            .h1-style {
                color : red;
                font-size : 20pt;
                width : 400px;
                height : 200px;
                background : blue
            }
            .p-style {
                color: green;
                width: 700px;
                height : 200px;
                background: yellow;
            }
        </style>
    </head>
    <body>
        <h1 class="h1-style">안녕 FastAPI</h1>
        <p class="p-style">?????!!!!!!</p>
    </body>
</html>