{% extends "base.html" %}

{% block content %}

<div>
  <p class="text-5xl font-black my-4 mx-10 ">
    제14회 산업통상부
  </p>
  <h1 class="text-4xl font-bold my-4 mx-4">
    공공데이터 활용
  </h1>
  <h2 class="text-[#00c4cc] text-4xl font-bold my-4">
    아이디어 공모전
  </h2>
</div>
<div class="">
  <div class="">
    <div class="border">
      공공 데이터로 견인하는 지역 활력
    </div>
    <div class="border">
      AI 데이터로 도약하는 기업 성장
    </div>
  </div>
   <div class="">
    2026.03.30 - 07.06
  </div>
</div>
{% endblock %}